$black-normal: #495057;
$black-dark: #010007;
$black-light: #212429;

$purple-normal: #201783   ;
$purple-dark: #0a0544;
$purple-light: #9C97D3;

$red-normal: #F03D3E;
$red-dark: #6F2F2F;
$red-light: #EEA2A2;

$white-normal: white;
$white-dark: rgb(224, 207, 207);
$white-light: white;

